<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        
        <!-- Preload the fonts -->
        <link rel="preload" href="/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        
        <!-- Primary Meta Tags -->
        <title>Minimal Products in Malaysia</title>
        <meta name="title" content="Minimal Products in Malaysia">
        <meta name="description" content="Search, Browse & Discover Minimal Products Sold in Malaysia">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://minimal.my/">
        <meta property="og:title" content="Minimal Products in Malaysia">
        <meta property="og:description" content="Search, Browse & Discover Minimal Products Sold in Malaysia">
        <meta property="og:image" content="">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://minimal.my/">
        <meta property="twitter:title" content="Minimal Products in Malaysia">
        <meta property="twitter:description" content="Search, Browse & Discover Minimal Products Sold in Malaysia">
        <meta property="twitter:image" content="">

        <!-- Favicons Icons --> 
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        
        <!-- Stylesheet -->
        {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") }}
        <link href="{{ $styles.RelPermalink }}" rel="stylesheet">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-52M09P04RN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-52M09P04RN');
        </script>

    </head>
    
    <body>
        {{ partial "header.html" . }}

        {{ partial "sidebar.html" . }}

        {{ block "main" . }}
        {{ end }}

        {{ $opts := (dict "targetPath" "main.js" "minify" true) }}
        {{ $js := resources.Get "js/main.js" | js.Build $opts}}
        <script type="application/javascript" src="{{ $js.RelPermalink }}" defer></script>
    </body>

</html>
